<section class="contact" id="contact">
  <div class="max-width">
    <h2 class="title">Contact</h2>

    <div class="contact-content">
      <div class="socials">
        <div class="socials-item">
          <abbr title="Whatsapp">
            <a
              href="https://api.whatsapp.com/send?phone=554192735760"
              target="_blank"
              rel="external"
            >
              <img src="../../assets/img/Whatsapp.png" alt="" />
            </a>
          </abbr>
        </div>

        <div class="socials-item">
          <abbr title="Linkedin">
            <a
              href="https://www.linkedin.com/in/amanda-rodrigues-da-silva-77a489234/"
              target="_blank"
              rel="external"
            >
              <img src="../../assets/img/linkedin.png" alt="" />
            </a>
          </abbr>
        </div>

        <div class="socials-item">
          <abbr title="Github">
            <a href="https://github.com/Echyley" target="_blank" rel="external">
              <img src="../../assets/img/github.png" alt="MeuGithub" />
            </a>
          </abbr>
        </div>

        <div class="socials-item">
          <abbr title="Instagram">
            <a
              href="https://www.instagram.com/_echysan_/"
              target="_blank"
              rel="external"
            >
              <img src="../../assets/img/instagram.png" alt="MeuInstagram" />
            </a>
          </abbr>
        </div>

        <div class="socials-item">
          <abbr title="Email">
            <a
              href="mailto:amandaxars@gmail.com"
              target="_blank"
              rel="external"
            >
              <img src="../../assets/img/email.png" alt="MeuEmail" />
            </a>
          </abbr>
        </div>

        <div class="socials-item">
          <abbr title="Facebook">
            <a
              href="https://www.facebook.com/profile.php?id=100009794565320"
              target="_blank"
              rel="external"
            >
              <img src="../../assets/img/facebook.png" alt="MeuFacebook" />
            </a>
          </abbr>
        </div>
      </div>
    </div>
  </div>
</section>
