<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About</h2>
    <div class="about-content">
      <div class="column-left">
        <img src="../../../assets/img/Eu" alt="Eu" />
      </div>
      <div class="column-right">
        <div class="text">
          My name is Amanda Rodrigues da Silva. <span class="typing-2"></span>
        </div>
        <p>
          I don't have much experience in the job market, but i am seeking new
          opportunities that will help me pursue my dream! I love technology and
          art. I am developing myself in the IT field and really want to use
          that to help people in some way in the future. Nice to meet you!
        </p>
        <a href="assets/pdf/Currículo Amanda Rodrigues.pdf">Download CV</a>
      </div>
    </div>
  </div>
</section>
