<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">{{ 'ABOUT.TITLE' | translate }}</h2>
    <div class="about-content">
      <div class="column-left">
        <img src="../../../assets/img/Eu" alt="Eu" />
      </div>
      <div class="column-right">
        <div class="text">
          {{ 'ABOUT.NAME' | translate }} <span class="typing-2"></span>
        </div>
        <p>
          {{ 'ABOUT.EXPERIENCE' | translate }} {{ 'ABOUT.TECHNOLOGY_ART' | translate }}
          {{ 'ABOUT.DEVELOPING_IT' | translate }} {{ 'ABOUT.NICE_TO_MEET_YOU' | translate }}
        </p>
        <a href="assets/files/CVAmanda.pdf">{{ 'ABOUT.DOWNLOAD_CV' | translate }}</a>
      </div>
    </div>
  </div>
</section>