.about .title::after {
  content: "Who am i?";
}

.about .max-width {
  height: 40vh;
}

.about .about-content .column-left {
  width: 45%;
}
.about .about-content .column-right {
  width: 55%;
}
.about .about-content .column-right .text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.about .about-content .column-right .text span {
  color: #ff0000;
}
.about .about-content .column-right p {
  text-align: justify;
  font-size: 20px;
}
.about .about-content .column-right a {
  display: inline-block;
  background: #580593;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #580593;
  transition: all 0.3s ease;
}
.about .about-content .column-right a:hover {
  color: #580593;
  background: none;
}
.about .about-content .column-left img {
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
