<section class="team" id="team">
  <div class="max-width">
    <h2 class="title">Divulgando</h2>

    <div class="carousel">
      <div class="card">
        <div class="box">
          <img src="../../assets/img/Gab.jpg" alt="Gab" />
          <div class="text">Gabriel Eduardo</div>
          <p>...</p>
        </div>
      </div>
      <div class="card">
        <div class="box">
          <img src="../../assets/img/Nic.jpg" alt="Nic" />
          <div class="text">Nicoly Rodrigues</div>
          <p>...</p>
        </div>
      </div>
    </div>
  </div>
</section>
