<header class="navbar" [ngClass]="{'hidden': isHidden}">
  <div class="max-width">
    <div class="logo">
      <a href="#"> Port<span>folio</span></a>
    </div>
    <ul class="menu">
      <li><a href="#home">{{ 'NAV.HOME' | translate }}</a></li>
      <li><a href="#about">{{ 'NAV.ABOUT' | translate }}</a></li>
      <li><a href="#skills">{{ 'NAV.SKILLS' | translate }}</a></li>
      <li><a href="#projects">{{ 'NAV.PROJECTS' | translate }}</a></li>
      <li><a href="#contact">{{ 'NAV.CONTACT' | translate }}</a></li>
      <li><a href="#team">{{ 'NAV.TEAM' | translate }}</a></li>
    </ul>
    <ul class="lang">
      <button (click)="switchLanguage()">{{ 'BUTTON.SWITCH_LANG' | translate }}</button>
    </ul>
  </div>
</header>
