.contact .title::after {
    content: "Fale comigo!";
}

.contact .contact-content .socials{
    width: 100%;
    display: flex;
}

.contact .contact-content .socials-item {
    align-items: center;
    padding: 6vh;
}

.contact .contact-content .socials-item .head img{
    width: 10vh;
}