.projects .title::after{
    content: "Em andamento";
}
.projects .title::before {
    background: #ffffff;   
}

.projects, .team{
    background: #111;
    color: #fff;
}

.projects .projects-list ul{
    display: flex;
}

.projects .projects-list .projects-item {
    display: grid;
    width: calc(50%);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    margin: 2vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects .projects-list .projects-item:hover {
    background: #09920973;
}

.projects .projects-list .projects-item .codepen {
    transition: all 0.3s ease;
}

.projects .projects-list .projects-item:hover .codepen {
    transform: scale(1.5);
}

.projects .projects-list .projects-item p {
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}


